@import 'fonts.css';

:root {
    --body-font: 'Atkinson Hyperlegible';
    --accent-color: #a8eb12;
    --trans: all .3s ease-in-out;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    font-size: 62.5%;
}

body {
    background: #fff;
    font-family: var(--body-font);
    font-size: 1.4rem;
    color: #000;
    line-height: 1.618;
    background: #000;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
a:active,
a:visited,
a:hover {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 2.8rem;
    min-height: 100vh;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 500px) {


    .swiper-container {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        /*
    left: 50%;
    top: 50%;
*/

    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*Home Page Start*/
    .swiper-container .swiper-wrapper .home-page {
        background-color: rgb(0, 0, 0);
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/home-bg.jpg);
    }

    .swiper-container .swiper-wrapper .home-page header,
    .swiper-container .swiper-wrapper .about-page header,
    .swiper-container .swiper-wrapper .skill-page header,
    .swiper-container .swiper-wrapper .education-page header,
    .swiper-container .swiper-wrapper .portfolio-page header,
    .swiper-container .swiper-wrapper .contact-page header {
        padding: 2.8rem 0 0 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .home-page header .logo-block,
    .swiper-container .swiper-wrapper .about-page header .logo-block,
    .swiper-container .swiper-wrapper .skill-page header .logo-block,
    .swiper-container .swiper-wrapper .education-page header .logo-block,
    .swiper-container .swiper-wrapper .portfolio-page header .logo-block,
    .swiper-container .swiper-wrapper .contact-page header .logo-block {
        width: 160px;
    }

    .swiper-container .swiper-wrapper .home-page main {
        margin: 14.3rem 0;
    }

    .swiper-container .swiper-wrapper .home-page main .text-block {
        font-family: inherit;
        color: #fff;
        padding: 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .home-page main .text-block p {
        font-size: 4rem;
        line-height: 1.618;
        padding: 0 0 1.6rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .home-page main .text-block h1 {
        font-size: 6rem;
        line-height: 1.3;
        font-weight: bold;
        padding: 0 0 1.6rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .home-page main .text-block h1 span {
        font-weight: 400;
    }

    .swiper-container .swiper-wrapper .home-page main .text-block a.btn {
        font-family: inherit;
        font-size: 1.6rem;
        line-height: 1.618;
        font-weight: 400;
        color: #000;
        background-color: var(--accent-color);
        border-radius: .4rem;
        padding: .9rem 2.5rem;
        margin: 0;
        transition: var(--trans);
    }

    .swiper-container .swiper-wrapper .home-page main .text-block a.btn:active {
        transform: scale(.9);
    }

    .swiper-container .swiper-wrapper .home-page footer,
    .swiper-container .swiper-wrapper .about-page footer,
    .swiper-container .swiper-wrapper .skill-page footer,
    .swiper-container .swiper-wrapper .education-page footer,
    .swiper-container .swiper-wrapper .portfolio-page footer,
    .swiper-container .swiper-wrapper .contact-page footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.8rem;
        margin: 0;
        position: fixed;
        bottom: 2rem;
        left: 0;
        right: 0;
        z-index: 9999;
    }

    .swiper-container .swiper-wrapper .home-page footer .social-block a,
    .swiper-container .swiper-wrapper .about-page footer .social-block a,
    .swiper-container .swiper-wrapper .skill-page footer .social-block a,
    .swiper-container .swiper-wrapper .education-page footer .social-block a,
    .swiper-container .swiper-wrapper .portfolio-page footer .social-block a,
    .swiper-container .swiper-wrapper .contact-page footer .social-block a {
        font-size: 2rem;
        color: #fff;
        opacity: .5;
        margin-right: 1.2rem;
        transition: var(--trans);
    }

    .swiper-container .swiper-wrapper .home-page footer .social-block a:active,
    .swiper-container .swiper-wrapper .about-page footer .social-block a:active,
    .swiper-container .swiper-wrapper .skill-page footer .social-block a:active,
    .swiper-container .swiper-wrapper .education-page footer .social-block a:active,
    .swiper-container .swiper-wrapper .portfolio-page footer .social-block a:active,
    .swiper-container .swiper-wrapper .contact-page footer .social-block a:active {
        color: #fff;
        opacity: 1;
        transform: scale(.9);
    }

    .swiper-container .swiper-wrapper .home-page footer .swipe-icon img,
    .swiper-container .swiper-wrapper .about-page footer .swipe-icon img,
    .swiper-container .swiper-wrapper .skill-page footer .swipe-icon img,
    .swiper-container .swiper-wrapper .education-page footer .swipe-icon img,
    .swiper-container .swiper-wrapper .porifolio-page footer .swipe-icon img,
    .swiper-container .swiper-wrapper .contact-page footer .swipe-icon img {
        transform-origin: bottom;
        animation: swipeicon 3s ease-in-out infinite;
    }

    @keyframes swipeicon {
        0% {
            transform: rotateZ(10deg);
        }

        50% {
            transform: rotateZ(-10deg);
        }

        100% {
            transform: rotateZ(10deg);
        }
    }


    /*About Page Start*/
    .swiper-container .swiper-wrapper .about-page {
        background-color: rgb(0, 0, 0);
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/about-bg.jpg);
    }

    .swiper-container .swiper-wrapper .about-page main {
        margin: 10rem 0;
    }

    .swiper-container .swiper-wrapper .about-page main .text-block h1 {
        font-family: inherit;
        font-size: 3.6rem;
        color: #fff;
        line-height: 1.618;
        padding: 0 0 2.4rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .about-page main .text-block p {
        font-family: inherit;
        font-size: 1.6rem;
        color: #fff;
        line-height: 1.618;
        padding: 0 0 2.7rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .about-page main .text-block div.bio {
        display: flex;
        justify-content: space-between;
    }

    .swiper-container .swiper-wrapper .about-page main .text-block div.bio ul:nth-child(1) {
        width: 40%;
    }

    .swiper-container .swiper-wrapper .about-page main .text-block div.bio ul:nth-child(1) li::before {
        content: '\f058';
        font-family: 'Font Awesome 5 Free';
        color: var(--accent-color);
        opacity: .5;
        margin-right: 1rem;
    }

    .swiper-container .swiper-wrapper .about-page main .text-block div.bio ul:nth-child(2) {
        width: 60%;
    }

    .swiper-container .swiper-wrapper .about-page main .text-block div.bio ul li,
    .swiper-container .swiper-wrapper .about-page main .text-block div.bio ul a {
        font-family: inherit;
        font-size: 1.6rem;
        color: #fff;
        line-height: 1.618;
        letter-spacing: .1rem;
        padding: 0 0 1rem 0;
        margin: 0;
        transition: var(--trans);
    }

    .swiper-container .swiper-wrapper .about-page main .text-block div.bio ul a {
        display: block;
        padding: 0;
    }

    .swiper-container .swiper-wrapper .about-page main .text-block div.bio ul a:hover {
        color: var(--accent-color);
        border-bottom: .1rem solid var(--accent-color);
    }

    /* Skill Page Start */
    .swiper-container .swiper-wrapper .skill-page {
        background-color: rgb(0, 0, 0);
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/skill-bg.jpg);
    }

    .swiper-container .swiper-wrapper .skill-page main {
        margin: 8.3rem 0 0 0;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block h1 {
        font-family: inherit;
        font-size: 3.6rem;
        color: #fff;
        line-height: 1.618;
        padding: 0 0 2.4rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block p {
        font-family: inherit;
        font-size: 2rem;
        color: #fff;
        line-height: 1.618;
        padding: 0 0 2.4rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block {
        margin-bottom: 1.7rem;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block p {
        font-size: 1.6rem;
        padding: 0;
        margin-bottom: .7rem;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block .range-bar {
        width: 100%;
        height: .5rem;
        border-radius: .25rem;
        background-color: #fff;
        position: relative;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block .range-bar::before {
        content: attr(data-percent);
        font-size: 1.2rem;
        color: #fff;
        position: absolute;
        left: 37%;
        top: -2rem;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block .range-bar::after {
        content: "";
        width: 40%;
        height: 100%;
        background-color: var(--accent-color);
        border-radius: .25rem;
        position: absolute;
        left: 0;
        top: 0;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(2) .range-bar::before {
        left: 57%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(2) .range-bar::after {
        width: 60%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(3) .range-bar::before {
        left: 67%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(3) .range-bar::after {
        width: 70%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(4) .range-bar::before {
        left: 67%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(4) .range-bar::after {
        width: 70%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(5) .range-bar::before {
        left: 27%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(5) .range-bar::after {
        width: 30%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(6) .range-bar::before {
        left: 27%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(6) .range-bar::after {
        width: 30%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(7) .range-bar::before {
        left: 0%;
    }

    .swiper-container .swiper-wrapper .skill-page main .text-block .skills > .skill-block:nth-child(7) .range-bar::after {
        width: 3%;
    }

    /* Education Page Start */
    .swiper-container .swiper-wrapper .education-page {
        background-color: rgb(0, 0, 0);
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/education-bg.jpg);
    }

    .swiper-container .swiper-wrapper .education-page main {
        margin-top: 12rem;
    }

    .swiper-container .swiper-wrapper .education-page main .text-block h1 {
        font-family: inherit;
        font-size: 3.6rem;
        color: #fff;
        line-height: 1.618;
        padding: 0 0 2.4rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .education-page main .text-block p {
        font-family: inherit;
        font-size: 2.2rem;
        color: var(--accent-color);
        line-height: 1.618;
        padding: 0 0 .5rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .education-page main .text-block small {
        display: block;
        font-family: inherit;
        font-size: 1.6rem;
        color: #fff;
        line-height: 1.618;
        padding: 0 0 .5rem 0;
        margin: 0 0 2.3rem 0;
    }

    /* Education Page Start */
    .swiper-container .swiper-wrapper .portfolio-page {
        background-color: rgb(0, 0, 0);
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/portfolio-bg.jpg);
    }

    .swiper-container .swiper-wrapper .portfolio-page main {
        margin-top: 12rem;
    }

    .swiper-container .swiper-wrapper .portfolio-page main .text-block h1 {
        font-family: inherit;
        font-size: 3.6rem;
        color: #fff;
        line-height: 1.618;
        padding: 0 0 2.4rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .portfolio-page main .text-block p {
        font-family: inherit;
        font-size: 2.2rem;
        color: #fff;
        line-height: 1.618;
        padding: 0 0 2.2rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .portfolio-page main .text-block .swiper-container-portfolio {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-container .swiper-wrapper .portfolio-page main .text-block .swiper-slide-portfolio {
        background-position: center;
        background-size: cover;
        width: 16rem;
        height: 22.3rem;
    }

    .swiper-container .swiper-wrapper .portfolio-page main .text-block button.slick-prev.slick-arrow,
    button.slick-next.slick-arrow {
        display: none !important;
    }


    .swiper-container .swiper-wrapper .portfolio-page main .text-block ul.slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .swiper-container .swiper-wrapper .portfolio-page main .text-block ul.slick-dots li {
        margin: 0 1rem;
    }

    .swiper-container .swiper-wrapper .portfolio-page main .text-block ul.slick-dots li button {
        font-size: 0rem;
        width: 1.5rem;
        height: 1.5rem;
        background: #fff;
        border: none;
        border-radius: 50%;
    }

    .swiper-container .swiper-wrapper .portfolio-page main .text-block ul.slick-dots li.slick-active button {
        background: var(--accent-color);
        color: #000;
    }

    .swiper-container .swiper-wrapper .portfolio-page main .text-block ul.slick-dots li button:focus {
        outline: none;
        border: none;
    }

    /*Contact Page Start*/
    .swiper-container .swiper-wrapper .contact-page {
        background-color: rgb(0, 0, 0);
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(../images/contact-bg.jpg);
    }

    .swiper-container .swiper-wrapper .contact-page main {
        margin: 10rem 0;
    }

    .swiper-container .swiper-wrapper .contact-page main .text-block h1 {
        font-family: inherit;
        font-size: 3.6rem;
        color: #fff;
        line-height: 1.618;
        padding: 0 0 2.4rem 0;
        margin: 0;
    }

    .swiper-container .swiper-wrapper .contact-page main .text-block form .input-group {
        margin: 0 0 2rem 0;
    }

    .swiper-container .swiper-wrapper .contact-page main .text-block form .input-group .form-control {
        font-family: inherit;
        font-size: 1.6rem;
        color: #000;
        line-height: 1.618;
        padding: 1.1rem;
        margin: 0;
        width: 100%;
        min-height: 4rem;
        border-radius: .4rem;
        background-color: rgba(255, 255, 255, .5);
        border: .1rem solid transparent;
        transition: var(--trans);
    }

    .swiper-container .swiper-wrapper .contact-page main .text-block form .input-group .form-control::placeholder {
        color: #000;
    }

    .swiper-container .swiper-wrapper .contact-page main .text-block form .input-group .form-control:focus {
        outline: none;
        border: .1rem solid var(--accent-color);
    }

    .swiper-container .swiper-wrapper .contact-page main .text-block form .input-group textarea.form-control {
        font-family: inherit;
        font-size: 1.6rem;
        color: #000;
        line-height: 1.618;
        padding: 1.1rem;
        margin: 0;
        width: 100%;
        min-height: 12rem;
        border-radius: .4rem;
        background-color: rgba(255, 255, 255, .5);
        border: .1rem solid transparent;
        transition: var(--trans);
    }

    .swiper-container .swiper-wrapper .contact-page main .text-block form .input-group .btn {
        font-family: inherit;
        font-size: 1.6rem;
        color: #000;
        line-height: 1.618;
        padding: .7rem 2.5rem;
        margin: 0;
        border-radius: .4rem;
        background-color: var(--accent-color);
        border: none;
        transition: var(--trans);
    }

    .swiper-container .swiper-wrapper .contact-page main .text-block form .input-group .btn {
        font-family: inherit;
        font-size: 1.6rem;
        color: #000;
        line-height: 1.618;
        padding: .7rem 2.5rem;
        margin: 0;
        border-radius: .4rem;
        background-color: var(--accent-color);
        border: none;
        transition: var(--trans);
    }

    .swiper-container .swiper-wrapper .contact-page main .text-block form .input-group .btn:active {
        transform: scale(.9);
    }

















}

/**/
